<main>
  <h1>
    REGLAMENTO INTERNO | Consorcio Edificio Quadra LII | Alvear 1561 - Rosario -
    Pcia. Santa Fe
  </h1>

  <ol>
    <li>
      <h2>CAPÍTULO 1 - OBJETIVOS Y ALCANCES</h2>
      <ol>
        <li>
          Objetivos. En el presente se consideran los ejes primarios y
          fundamentales de la convivencia, la armónica interacción de la
          iniciativa individual, la libertad personal y la responsabilidad
          social de todos y cada uno de los miembros de la comunidad de la que
          forman parte de residentes del Edificio Quadra LII. Para ello se
          establecen los criterios generales acerca del uso de las instalaciones
          de uso común y privado del consorcio de propietarios, inquilinos y
          otros, en la totalidad de sus fracciones, con las restricciones en
          función de razones de operatividad y vecindad. Asimismo, se tipifican
          conductas no aptas para la armónica convivencia, consideradas como
          productoras de una disminución de la calidad de vida de otros
          habitantes, o que deterioran el ambiente, las instalaciones comunes o
          particulares, estableciéndose en el presente las multas a aplicar por
          la Administración del Edificio, en caso de que se incurra en el
          incumplimiento de lo establecido en este Reglamento Interno.
        </li>
        <li>
          Alcances. El presente Reglamento Interno de convivencia tendrá
          accionar sobre los propietarios, inquilinos, usufructuarios y
          ocupantes en general bajo cualquier título; que residan en forma
          permanente o temporaria en el Edificio denominado “Quadra LII”,
          ubicado en la calle Alvear 1561 de la ciudad de Rosario, provincia de
          Santa Fe. Asimismo, tendrá alcance al grupo familiar y/o amigos, y/o
          allegados, y/o conocidos y/o visitas y/o invitados y/o personal de
          servicio y/u otros relacionados con los residentes de alguna manera;
          que ingresen a dicho Edificio.
        </li>
        <li>
          Cumplimiento. El presente Reglamento Interno es de cumplimiento
          obligatorio para todos los que habitan o transitan el Edificio, bajo
          cualquiera de las figuras detalladas en el apartado anterior, tanto en
          espacios comunes como privados. No se admite alegar la ignorancia de
          ninguno de los puntos de éste Reglamento Interno en caso de
          incumplimiento.
        </li>
        <li>
          Obligación de informar. Será obligación del propietario que ceda su
          unidad (bajo la forma legal que corresponda: alquiler, comodato,
          etc.), informar de forma inmediata y fehaciente a la Administración
          del Edificio los datos del inquilino, comodatario, etc.; así como
          hacerle saber de la existencia de este Reglamento Interno y la
          obligatoriedad de su cumplimiento. Siendo en todos los casos el
          propietario, el responsable final en caso de incumplimientos y
          quedando por ende sujetos a las sanciones establecidas. Los
          propietarios que cedan su unidad incluirán en sus contratos una
          cláusula de observación y cumplimiento del presente Reglamento
          Interno, indicando en ella que en caso de persistir situaciones de
          mala conducta y/o incumplimiento del mismo, será causal de
          finalización del contrato.
        </li>
        <li>
          Vigencia. Este Reglamento Interno, aprobado en sesión de la Asamblea
          General del 06/03/2020 comenzará a regir el 01/04/2020. En el plazo
          definido por las fechas anteriores la Administración del Edificio se
          ocupará de entregarlo a todos los propietarios, inquilinos y
          residentes del Edificio. Este reglamento podrá ser modificado en todo
          o en parte en futuras Asambleas Generales.
        </li>
      </ol>
    </li>
    <li>
      <h2>CAPÍTULO 2 - GENERALES</h2>
      <ol>
        <li>
          Basura. No está permitido arrojar basura, papeles, colillas y otros
          objetos en el hall de ingreso, cochera, escaleras, palieres y en la
          cabina del ascensor, ni en el área del Quincho, Solarium y en general
          en todas las partes comunes del Edificio. Está prohibido dejar bolsas
          de basura o elementos a desechar (bajo la forma que sea), en cualquier
          lugar común del Edificio y en particular en el descanso de la
          escalera. No está permitido colgar o sacudir alfombras, manteles u
          objetos similares en la baranda o pared exterior de los balcones y
          ventanas, ni dejar caer al vacío agua, tierra, desperdicios u otros
          elementos desde los balcones o ventanas del Edificio.
        </li>
        <li>
          Prohibido fumar. No está permitido fumar cigarrillos, habanos, pipas y
          similares en ningún espacio común cerrado. Entre estos espacios se
          encuentran: hall de ingreso, cochera, ascensor, palieres, escaleras,
          Quincho y sala de máquina del ascensor y del colector de agua.
        </li>
        <li>
          Prohibido accionar equipos. No está permitido accionar cualquiera de
          los siguientes equipos del Edificio: las bombas de agua, los medidores
          de luz, los medidores de gas y las válvulas reguladoras, el
          equipamiento de la sala de máquina del ascensor y las llaves de la
          sala del colector de agua. El único personal autorizado es el servicio
          técnico especializado de las empresas prestadoras de servicios y el
          contratado por el Consorcio. Reglamento Interno Edificio Quadra LII -
          Página 1 de 8
        </li>
        <li>
          Circulación. No se podrá circular descalzo, con el cuerpo mojado o el
          torso desnudo por el hall de entrada, cabina de ascensor, escaleras,
          palieres y demás espacios comunes del Edificio.
        </li>
        <li>
          Cañerías. Queda prohibido arrojar líquidos o sustancias inflamables y
          en general toda clase de objetos que por su tamaño o características
          puedan afectar las cañerías o provocar obstrucciones en las mismas.
        </li>
        <li>
          Ascensor. Se prohíbe jugar y/o saltar en la cabina del ascensor,
          sobrecargarlo o efectuar acciones extrañas a su fin. En caso de un
          desperfecto cualquier propietario o inquilino podrá llamar al servicio
          mecánico cuyo teléfono se puede obtener del cartel pegado en el
          interior de la cabina. En caso de transportar materiales, paquetes,
          muebles, etc. de gran peso, se deberá tener cuidado de no
          sobrecargarlo y/o estropear su piso, cielorraso y revestimientos de
          paredes (metálicos y espejos). Cualquier daño producido por descuido o
          negligencia será de exclusiva responsabilidad del propietario o
          inquilino que lo ocasione y, por lo tanto, los gastos de reparación
          serán imputados en los gastos comunes de dicho propietario o
          inquilino.
        </li>
      </ol>
    </li>
    <li>
      <h2>CAPÍTULO 3 - INGRESO</h2>
      <ol>
        <li>
          Entrega a domicilio (Delivery). Queda prohibida la entrada al Edificio
          a todo vendedor ambulante y promotores. Por razones de seguridad los
          servicios de entrega a domicilio (delivery) de todo tipo (alimentos,
          medicamentos, etc.), los servicios de promociones, etc. deben ser
          recibidos por los propietarios, inquilinos o residentes en la entrada
          al Edificio.
        </li>
        <li>
          Ingreso de personal de servicios. Los ingresos y circulaciones de
          personas relacionadas con servicios prestados a las unidades de
          vivienda como, por ejemplo: el ingreso del personal de la empresa
          prestadora del servicio de gas para tomar las lecturas de los
          medidores, la instalación o retiro de medidores, etc.; deberá hacerse
          acompañado permanentemente por un propietario o inquilino. Lo mismo
          vale para cualquier otro servicio propios de los departamentos como de
          los espacios comunes.
        </li>
        <li>
          Ingreso de emergencia. Será obligación de los propietarios e
          inquilinos comunicar el teléfono de una persona de su confianza a la
          Administración del Edificio, para que esta última la contacte en el
          caso de necesidad de ingreso a esa unidad por una emergencia. Esta
          persona de confianza deberá tener una copia de las llaves de la unidad
          para acceder a la misma en caso de ser necesario, que será contactada
          en caso que no se ubique al propietario o inquilino respectivo. Caso
          contrario, se adoptarán las medidas legales necesarias para acceder a
          la unidad en caso de emergencia, con el correspondiente cargo al
          propietario responsable.
        </li>
      </ol>
    </li>
    <li>
      <ol>
        <h2>CAPÍTULO 4 - COCHERA</h2>
        <li>
          Uso. Los espacios de estacionamiento deberán ser utilizados
          exclusivamente para el parqueo de vehículos de propietarios,
          inquilinos y residentes legalmente habilitados; debiendo ubicarse en
          cada espacio de estacionamiento un solo vehículo. Está prohibido
          ubicar junto al vehículo bicicletas, monopatines, motos y otros. Está
          prohibido el uso de los espacios de estacionamientos como depósito de
          cualquier objeto (a modo de baulera). No está permitido dejar en los
          espacios de estacionamientos bidones con combustible o vacíos, tacos o
          cuñas de madera, neumáticos, o cualquier otra cosa relacionada con el
          vehículo. Se prohíbe otro uso que no sea el de estacionamiento un solo
          vehículo, debiendo ubicar la unidad dentro de los límites de cada
          cochera. También está prohibido montar cualquier tipo de estructura o
          cerramiento.
        </li>
        <li>
          Circulación. La circulación de vehículos en la cochera deberá hacerse
          con las luces encendidas, a mínima velocidad y extrema precaución.
        </li>
        <li>
          Lavado y mecánica. No está permitido en el área de cocheras el lavado
          de vehículos, tampoco está permitido efectuar en la cochera la
          reparación de vehículos con desperfectos mecánicos, salvo el caso de
          una emergencia mecánica.
        </li>
        <li>
          Cochera No 2. El vehículo de la cochera No 2 deberá estacionar de
          manera que se puede correr el mismo en caso de necesidad de acceso a
          las bombas de agua (portón de dos hojas) y al tanque de bombeo (tapas
          de cemento en el piso).
        </li>
      </ol>
    </li>
    <li>
      <ol>
        <h2>CAPÍTULO 5 - BICICLETAS, MONOPATINES Y MOTOS</h2>
        <li>
          Prohibición de estacionar. Está prohibido estacionar bicicletas,
          monopatines, motos o similares (que no correspondan a lugares de
          estacionamiento) en cualquier lugar común del Edificio. En particular
          se prohíbe el estacionamiento en la planta baja desde la línea de
          edificación hasta la pared de fondo (Hall, cocheras y circulaciones).
          Se aclara que esta prohibición corresponde desde la línea de
          edificación por tener este Edificio puerta y portones recedidos de la
          misma, o sea que también está prohibido estacionar en el sector
          semicubierto exterior desde la línea de rejas de puerta y portones
          hasta la línea de edificación o fachada. También está prohibido
          estacionar las mismas en la caja de escalera, Quincho, Solarium, y
          cualquier otro espacio común del Edificio. Tampoco se podrán
          estacionar en un lugar de estacionamiento junto a un automotor por más
          que sea del mismo propietario, inquilino o residente.
        </li>
        <li>
          Prohibición de uso. Queda prohibido utilizar en las áreas comunes
          bicicletas, rollers, patines, patinetas, etc. La circulación desde el
          exterior hasta el departamento deberá efectuarse llevando los mismos a
          pie y cuidando de no dañar los espacios comunes del Edificio en su
          recorrido.
        </li>
      </ol>
    </li>
    <li>
      <ol>
        <h2>CAPÍTULO 6 - MASCOTAS</h2>
        <li>
          Custodia. Las mascotas deberán estar siempre bajo custodia de sus
          dueños, y escoltados con el uso de una correa apropiada, o alzado;
          pero nunca en forma suelta. Queda prohibido que haya animales sueltos
          en los sectores comunes del Edificio.
        </li>
        <li>
          Circulación en tránsito. Las mascotas únicamente pueden estar en los
          sectores comunes “en tránsito” y al único efecto de salir a la vía
          pública y/o entrar al departamento respectivo. Deberá usarse bozal si
          correspondiere.
        </li>
        <li>
          Limpieza. Los propietarios, inquilinos o residentes que posean
          mascotas serán responsables del correcto comportamiento, de la
          limpieza y recolección de los excrementos de las mismas, evitando todo
          tipo de molestias al resto de los habitantes del Edificio.
        </li>
        <li>
          Molestias. La tenencia de animales domésticos en los departamentos no
          debe producir ruidos, olores u otras molestias que puedan perjudicar,
          incomodar o perturbar la tranquilidad o salud de los demás ocupantes
          del Edificio. Por ello no está permitido dejar a los animales dentro
          de los departamentos por períodos prolongados sin compañía, debido a
          que la ausencia del dueño provoca un estado de stress en el animal que
          se traduce en aullidos y/o ladridos y/o maullidos y/o golpes en la
          puerta del departamento, etc.
        </li>
        <li>
          Prohibición. Está prohibida la permanencia de mascotas en el Quincho y
          en el Solarium.
        </li>
        <li>
          Palomas. Se prohíbe alimentar a las palomas en los balcones o
          ventanas.
        </li>
      </ol>
    </li>
    <li>
      <ol>
        <h2>CAPÍTULO 7 - BALCONES Y FACHADAS</h2>
        <li>
          Balcones. No está permitido instalar en los balcones tendederos de
          ropa, objetos y/o elementos que sobrepasen la altura de la baranda del
          balcón y puedan verse, en todo o en parte, desde el exterior. Por
          motivos de seguridad no está permitido el uso de parrillas de
          cualquier tipo fijas o móviles, en los balcones. Está prohibido tender
          ropa, toallas u otras prendas en las barandas. No se permite arrojar
          cualquier tipo de objetos desde los balcones hacia la calle o al vacío
          de contrafrente. Está prohibido encender fuego o realizar asados o
          comidas en los balcones con elementos a gas, carbón, eléctricos, etc.
        </li>
        <li>
          Equipos de Aire Acondicionado. Solo podrán instalarse equipos de aire
          acondicionado del tipo “Split” en los balcones. La instalación de
          estos equipos de aire acondicionado deberá hacerse en los lugares
          definidos según la salida de los caños previstos a tal fin durante la
          etapa de obra del Edificio, ya sean cañerías de refrigeración como de
          desagües. Las unidades exteriores de los departamentos de un
          dormitorio y los departamentos monoambientes de frente se ubicarán en
          los balcones y los de las unidades monoambientes de contrafrente sobre
          la losa con parapeto bajo la ventana. No se permitirá el pasaje de
          caños o tuberías por el frente o contrafrente del Edificio o el
          derrame de agua de desagüe hacia el exterior de las unidades.
        </li>
        <li>
          Elementos visibles desde el exterior. Está prohibido colocar en los
          sectores de propiedad común o en los de propiedad exclusiva con vista
          al exterior (calle o centro de manzana): insignias, carteles,
          emblemas, letreros, anuncios, banderas (a excepción de la Argentina en
          semanas patrias), chapas, lonas, muebles o cualquier otro objeto
          susceptible de afectar la estética del Edificio. En el caso que algún
          propietario quiere colocar un cartel de venta o alquiler deberá
          solicitar permiso a la Administración del Edificio, quien indicará la
          materialidad, medidas, lugar y forma de colocación de los mismos, al
          igual que podrá solicitar un seguro de responsabilidad civil de
          carteles en caso de corresponder. No está permitida la instalación de
          ningún elemento visible desde el exterior que modifique la estética
          visual del exterior del Edificio (como por ejemplo antenas), ni pintar
          o decorar los elementos arquitectónicos exteriores con colores o
          estilos distintos a los del conjunto. Está prohibido reemplazar o
          agregar otras inscripciones en los carteles que identifican las
          unidades en el panel de timbres de la puerta de ingreso (como por
          ejemplo agregar o reemplazar al piso y departamento el apellido de la
          familia u otra leyenda).
        </li>
        <li>
          Toldos y redes de cerramiento. Está permitido colocar toldos
          verticales en el exterior de las unidades de un dormitorio siempre que
          sean del tipo roller con lona plástica blanca modulado en dos paños
          coincidentes con el parante central de la baranda y colocados en el
          plano vertical interior al plano de baranda. Respecto de los
          cerramientos de seguridad en balcones, serán admitidos exclusivamente
          los desmontables, construidos con malla tipo red de nylon color
          blanco. Se podrán colocar toldos y redes conjuntamente en una misma
          unidad.
        </li>
        <li>
          Cortinas. No se permitirán cortinas mal instaladas que den una mala
          imagen del Edificio al exterior, al igual que no está permitido el
          colocar diarios o sabanas en los ventanales.
        </li>
        <li>
          Guirnaldas de navidad. Solo se permite adornar los balcones con
          guirnaldas navideñas con o sin luces desde el 8 de diciembre hasta el
          6 de enero del año siguiente.
        </li>
      </ol>
    </li>
    <li>
      <h2>CAPÍTULO 8 - MUDANZAS Y ACARREOS</h2>
      <ol>
        <li>
          Ingreso. Las mudanzas y los acarreos de muebles desde y hacia el
          interior del Edificio podrán realizarse por el ingreso principal al
          Edificio o por los portones metálicos de acceso a las cocheras.
        </li>
        <li>
          Recorrido. Se podrá usar la escalera, los vacíos delantero y trasero,
          para subir o bajar equipamientos por los balcones, y el ascensor. En
          el caso del uso del ascensor deberá usarse conjuntamente con el resto
          de residentes del Edificio y deberá protegerse para su uso. El
          propietario, inquilino o residente será responsable ante cualquier
          daño ya sea en la cabina del ascensor, escalera, fachada y/o
          contrafachada.
        </li>
        <li>
          Limpieza. En el caso que durante los traslados de elementos se halla
          ensuciado el piso u otro del Edificio, por el derrame de líquidos o
          sustancias transportadas, el propietario, inquilino o residente deberá
          limpiarlo una vez una producido el derrame.
        </li>
        <li>
          Horarios. Los horarios autorizados para mudanzas y acarreos serán de
          lunes a viernes de 8:00 a 18:00 horas y los sábados de 9:00 a 13:00
          horas. Domingos y feriados está prohibido a cualquier hora.
        </li>
      </ol>
    </li>
    <li>
      <ol>
        <h2>CAPÍTULO 9 - TRABAJOS DE MANTENIMIENTO Y OBRAS</h2>
        <li>
          Cuidados. En trabajos de mantenimiento y obras en las unidades de
          vivienda se deberá cumplir con lo indicado en el Capítulo 8 - Mudanzas
          y Acarreos, respecto al traslado de materiales.
        </li>
        <li>
          Polvillo. Se deberá minimizar el polvillo, impidiendo que el mismo
          pase al palier o al vacío de frente o contrafrente. La circulación en
          espacios comunes del propietario, inquilino o residente junto con la
          de operarios deberá hacerse sin marcar o manchar el piso con el
          polvillo generado por el trabajo realizado. Reglamento Interno
          Edificio Quadra LII - Página 4 de 8
        </li>
        <li>
          Horarios. Los trabajos se deberán ejecutar de lunes a viernes de 08:00
          a 18:00 horas y los sábados de 09:00 a 13:00 horas. Domingos y
          feriados está prohibido a cualquier hora.
        </li>
        <li>
          Otros. Para otras situaciones de ingreso, ruidos molestos, etc. vale
          los establecido en Capítulo correspondiente.
        </li>
      </ol>
    </li>
    <li>
      <ol>
        <h2>CAPÍTULO 10 - RUIDOS MOLESTOS</h2>
        <li>
          Prohibición. Se prohíbe producir o permitir que se produzcan
          disturbios o ruidos que atenten contra la tranquilidad que debe reinar
          en el Edificio. Se considerarán actividades que pueden generar ruidos
          molestos: los que emitan reuniones o fiestas; emisiones de canto,
          música o baile; movimientos de mobiliarios; ladridos, aullidos,
          maullidos y otros ruidos originados por animales y en general todos
          aquellos sonidos que perturben en forma directa o indirecta la
          tranquilidad y convivencia. Se deberá atender el uso de aparatos de
          radiotelefonía, televisión, instrumentos musicales y de resonancia con
          suma moderación. Se prohíbe además generar o permitir olores molestos
          que puedan afectar a los vecinos.
        </li>
        <li>
          Horarios. En particular sobre los ruidos deberá observarse
          especialmente entre las 13:00 y las 16:00 horas y entre las 22:00 y
          las 08:00 del día siguiente. Queda prohibido realizar trabajos de
          arreglos, mejoras o modificaciones de las unidades que generen ruidos
          molestos en los fines de semana o días feriados con excepción de los
          días sábados de 9:00 a 13:00 horas.
        </li>
      </ol>
    </li>
    <li>
      <ol>
        <h2>CAPÍTULO 11 - UNIDADES DE VIVIENDA</h2>
        <li>
          Depósito. Está prohibido guardar o depositar dentro de las unidades de
          vivienda toda clase de materiales explosivas, inflamables o
          asfixiantes, que puedan significar un peligro o que produzcan
          emanaciones. Se extiende esta prohibición a los palieres, escaleras y
          otros lugares comunes del Edificio.
        </li>
        <li>
          Actividad comercial. Está prohibido desarrollar cualquier actividad
          comercial en las unidades de vivienda.
        </li>
        <li>
          Estufas. Está prohibido el uso de estufas a combustible líquido o que
          utilicen garrafas de gas licuado en el interior de los departamentos.
        </li>
      </ol>
    </li>
    <li>
      <ol>
        <h2>CAPÍTULO 12 - AREAS COMUNES</h2>
        <li>
          Depósito. Está prohibido depositar materiales, mercaderías, basura,
          objetos y/o muebles en cualquier lugar común del Edificio que puedan
          comprometer la estética y el buen gusto del mismo, o significar daños
          o molestias o perjudicar la visual de los demás propietarios u
          obstruir o entorpecer el uso de dichas partes. En particular no se
          permite depositar cualquier elemento (incluso materiales relacionados
          con el mundo automotor), en los sectores de estacionamiento, por más
          que sean del mismo propietario o inquilino; como así también depositar
          basura en la caja de escalera.
        </li>
        <li>
          Instalaciones. Todo propietario o inquilino estará obligado a velar
          por el buen estado de conservación de las instalaciones y servicios,
          individuales y comunes, impidiendo o denunciando todo acto que vaya en
          deterioro de las mismas.
        </li>
        <li>
          Apariencia. Se prohíbe colocar y/o modificar la apariencia de las
          áreas comunes con carteles, adornos, plantas, y/o cualquier objeto. No
          está permitido pintar, rayar, raspar, escribir, manchar o deteriorar
          las paredes, pisos, cielorrasos y otros de las áreas comunes del
          Edificio. También se prohíbe hacer grafitis en cualquier área común
          del Edificio y en particular en el Quincho. En particular no se deberá
          rayar ni manchar las paredes de los palieres, caja de escalera y hall
          de ingreso con bicicletas “en tránsito”. Los gastos generados para su
          reparación serán cobrados al infractor.
        </li>
        <li>
          Carteles. Se prohíbe la colocación de cualquier cartel en cualquier
          lugar común del Edificio. Se prohíbe colocar letreros, carteles,
          placas profesionales u otros similares en la puerta de ingreso del
          edifico y en las puertas de ingreso de los departamentos o en las
          paredes de los palieres.
        </li>
        <li>
          Usos. Está prohibido a los propietarios, inquilinos o visitantes,
          hacer uso de las áreas comunes en menesteres extraños a su naturaleza.
          Está prohibido el consumo de bebidas o alimentos en esos lugares, como
          así también los juegos con pelota.
        </li>
      </ol>
    </li>
    <li>
      <ol>
        <h2>CAPÍTULO 13 - QUINCHO</h2>
        <li>
          Habilitados. El Quincho es de uso exclusivo de los propietarios que
          residan en el Edificio y/o inquilinos que lo habitan y sus invitados.
          Está prohibido su alquiler, cesión de uso o préstamo, total o parcial,
          a personas ajenas al Edificio.
        </li>
        <li>
          Solicitud de Uso. Tendrán derecho a utilizar el Quincho los
          propietarios o inquilinos que hayan realizado una reserva previa para
          el turno y día del evento, debiendo permanecer cualquiera de ellos
          (propietario o inquilino) durante el desarrollo del mismo. No está
          permitida la reserva de un mismo propietario o inquilino de los dos
          turnos de un mismo día.
        </li>
        <li>
          Fechas especiales. Quienes soliciten la utilización del salón los días
          24, 25, 31 de diciembre y 1 de enero serán anotados en una lista que
          se someterá a sorteo la última semana de noviembre. Dicho sorteo se
          realizará en el Quincho con los interesados en un día y horario
          pactado con los mismos.
        </li>
        <li>
          Horarios de Uso. Se podrá elegir dos turnos por día: El de “Medio día”
          de 10:00 a 16:00 horas. El de “Noche” de 16:00 a 24:00 horas (de
          domingos a jueves) y de 16:00 a 02:00 horas (viernes, sábados y
          vísperas de feriados).
        </li>
        <li>
          Entrega del Quincho. Cumplida la hora límite deberá entregarse el
          salón, la parrilla, el baño y la terraza en condiciones adecuadas de
          limpieza y orden. La limpieza del Quincho, una vez finalizado su uso,
          quedará a cargo de propietario y/o inquilino que hizo uso del mismo.
          El Quincho se lo deberá dejar con las puertas corredizas que dan al
          balcón cerradas, las luces y el equipo de aire acondicionado apagados
          y la puerta de ingreso cerrada con llave.
        </li>
        <li>
          Accesos y seguridad. En todos los casos el propietario o inquilino
          será el responsable de velar por la seguridad al ingreso del Edificio
          y deberá controlar siempre que la puerta de entrada quede bien
          cerrada. Los invitados sólo se desplazarán dentro del Quincho. Para
          entrar o salir, o para cualquier otro movimiento fuera del salón,
          deben ser acompañados por el propietario o inquilino. Durante el
          evento deberá permanecer cerrada la puerta del Quincho al palier.
        </li>
        <li>
          Usos. Solo está permitido el uso del Quincho para reuniones sociales o
          familiares. Queda terminantemente prohibido la utilización del Quincho
          para reuniones comerciales, religiosas, fúnebres, profesionales,
          institucionales, políticas, sindicales, de colegios, de asociaciones,
          de institutos, de academias, ferias tipo americanas, kermeses,
          convenciones, jornadas, subastas, exposiciones o cualquier otra
          actividad similar a las descriptas. El uso del Quincho por parte de
          propietarios, inquilinos y sus invitados queda restringido al sector
          interior del Quincho (salón, baño y balcón), quedando terminantemente
          prohibido el uso del Solarium y otros sectores comunes del Edificio.
          Cuando el Quincho está siendo usado por un propietario o inquilino,
          otro propietario o inquilino no podrá ingresar al mismo bajo ningún
          concepto. Durante el desarrollo del evento social están prohibidos los
          actos de violencia, conductas opuestas al orden y al decoro, el uso o
          consumo de estupefacientes o sustancias psicotrópicas. Es
          responsabilidad del usuario, llevar el día del evento papel higiénico,
          jabón, y demás artículos necesarios para el baño, así como artículos
          de limpieza para el aseo final en la entrega del local. Queda
          terminantemente prohibido colocar clavos, tomillos, etc. en las
          paredes, pisos, puertas y/o techos del Quincho para fijar cualquier
          elemento por más que sea de manera temporal.
        </li>
        <li>
          Responsabilidad del usuario. El propietario o inquilino solicitante
          será responsable de eventuales daños o faltantes en los sectores
          comunes del Edificio producido por sus invitados. El propietario o
          inquilino solicitante deberá controlar que todo evento se desarrolle
          en armonía, sin perturbaciones que afecten a otros residentes del
          Edificio. El propietario o inquilino deberá respetar y hacer respetar
          la prohibición de fumar en el salón y de tirar colillas en el piso, ni
          por el balcón al vacío trasero. No está permitido instalar en el
          Quincho cocinas, hornos portátiles o cualquier otro equipo que
          requiera la utilización de gas envasado. Reglamento Interno Edificio
          Quadra LII - Página 6 de 8
        </li>
        <li>
          Capacidad. El Quincho tiene una capacidad de 12 personas (esta
          capacidad está dada por el espacio disponible, su equipamiento y por
          la capacidad del sistema de aire acondicionado), por lo que está
          prohibido ingresar más personas que la indicada.
        </li>
        <li>
          Menores de edad. Los menores de 15 años únicamente pueden hacer uso
          del salón siempre en compañía de un propietario o inquilino mayor de
          edad, el cuál será el responsable habilitado de ese evento.
        </li>
        <li>Mascotas. Se prohíbe la permanencia de mascotas en el Quincho.</li>
        <li>
          Pirotecnia. No se está permitido el uso de fuegos artificiales y
          pirotécnica de cualquier tipo.
        </li>
        <li>
          Equipamiento. El Quincho está provisto de: 2 mesas, 12 sillones, 1
          basurero grande con tapa para el salón, 1 basurero chico con tapa para
          el baño y 3 electrodomésticos (heladera/freezer, termotanque y equipo
          de aire acondicionado con control remoto), el parrillero está provisto
          de 1 parrilla, 1 bracero y 1 juego de herramientas de parrilla. Tanto
          la heladera/freezer como el termotanque deberán ser desenchufados
          cuando termine el evento. La heladera/freezer deberá entregarse vacía
          y limpia, al igual que los basureros. No se podrá fijar a las paredes
          ningún elemento. Los carteles del tipo “Feliz Cumpleaños” serán
          pegados con cintas de papel, retirando los mismos a la finalización
          del evento. Este equipamiento móvil deberá permanecer en el Quincho,
          no permitiéndose el uso de los mismos en los departamentos, en el
          Solarium o en otros espacios comunes del edificio. Los usuarios del
          Quincho cuidarán el equipamiento y deberán reponerlos en caso de
          rotura de los mismos. También está prohibido dejar o instalar nuevos
          equipamientos.
        </li>
        <li>
          Música. Los equipos de música y parlantes deben estar colocados en el
          interior del Quincho, bajo ninguna circunstancia se colocarán en la
          terraza al aire libre. Toda emisión sonora, incluida música debe tener
          un nivel sonoro que no sea molesto para las unidades funcionales
          cercanas. Siempre se deberá utilizar equipos de música en volúmenes
          que no superen los 45 decibeles. En caso de reuniones nocturnas deberá
          atenuarse el sonido a niveles no audibles desde el exterior a partir
          de la 24:00 horas, tanto en el Quincho como en las unidades de
          vivienda.
        </li>
      </ol>
    </li>
    <li>
      <ol>
        <h2>CAPÍTULO 14 - SOLARIUM</h2>
        <li>
          Uso. El Solarium ubicado al frente de la Azotea (arriba del piso 6) es
          de uso exclusivo de los propietarios que residan en el Edificio y/o
          inquilinos que lo habitan. No se requiere reserva y puede ser usado
          por uno o más propietarios o inquilinos a la vez. Está terminantemente
          prohibido el uso del Solarium por terceros sin la presencia del
          propietario o inquilino. El último propietario o inquilino que haya
          hecho uso del Solarium deberá dejar la puerta de ingreso cerrada con
          llave.
        </li>
        <li>
          Equipamiento. No se permite dejar depositados en el Solarium elementos
          usados por los propietarios o inquilinos en el sector, como por
          ejemplo reposeras o sombrillas. Los mismos deberán ser retirados
          cuando el propietario o el inquilino se retire del sector. No está
          permitido llevar al Solarium equipamiento del Quincho.
        </li>
        <li>
          Prohibiciones. No se permiten los juegos de pelota en el recinto, o
          cualquier otra actividad que pueda resultar molesta para otros
          usuarios o vecinos: juegos bruscos, de mano, griteríos, carreras,
          empujones o cualquier actividad física que atente contra la seguridad
          y tranquilidad de los demás. Está prohibido tender ropa, toallas u
          otras prendas en la baranda. No está permitido dejar desperdicios o
          basura en el Solarium. Está prohibido el ingreso y permanencia al
          sector con mascotas y los juegos de pelota. Valen las mismas
          limitaciones del uso de equipos de música que las detalladas en el
          Capítulo 13 - Quincho.
        </li>
      </ol>
    </li>
    <li>
      <ol>
        <h2>CAPÍTULO 15 - SANCIONES</h2>
        <li>
          Cumplimiento. Todo habitante del Edificio (propietario, inquilino o
          residente bajo la forma legal que corresponda), deberá cumplir y hacer
          cumplir el presente Reglamento Interno y el de Copropiedad y
          Administración del Edificio. Bajo ningún aspecto, podrá alegar
          desconocimiento de estos instrumentos, que se encontrarán siempre
          disponibles en la Administración del Edificio.
        </li>
        <li>
          Aplicación de sanciones. Dadas las facultades otorgadas por el
          Reglamento de Copropiedad y Administración, el Administrador será el
          encargado de sancionar las violaciones al Reglamento Interno y/o
          Reglamento de Copropiedad y Administración.
        </li>
        <li>
          Comisión de Disciplina. La Comisión de Disciplina estará integrada por
          el Consejo de Administración y el Administrador.
        </li>
        <li>
          Procedimiento. El procedimiento para la aplicación de sanciones será
          el siguiente: al detectarse una infracción, sea por denuncia de algún
          residente o de alguna persona que preste servicio al Consorcio, la
          Administración enviará un correo electrónico a la dirección declarada
          por el propietario, inquilino o residente; informando la infracción
          denunciada e invitándolo a efectuar su descargo. Este descargo deberá
          hacerse a la Administración por correo electrónico en un plazo de 5
          días hábiles desde la fecha de envío de la solicitud de descargo. En
          caso de no recibir descargo alguno, se considera que el supuesto
          infractor asume como ciertas las denuncias allí informadas. El
          supuesto infractor no podrá desconocer este procedimiento de
          notificaciones, que será el único válido. Luego de pasados 5 días
          hábiles, y habiendo recibido o no descargo alguno, se considerará
          cerrado el período de descargo y la Comisión de Disciplina tendrá un
          plazo de 20 días hábiles para decidir sobre el caso, pudiendo absolver
          o sancionar al propietario, inquilino o residente. El propietario,
          inquilino o residente podrá hacer una última apelación de la pena
          aplicada, solicitando una Asamblea de Propietarios a la
          Administración, para tratar exclusivamente el asunto en cuestión. Esta
          solicitud de apelación se deberá efectuar a la Administración dentro
          de los 5 días hábiles posteriores al día en que la Administración
          cursa el correo electrónico con la notificación de la sanción. La
          Asamblea de Propietarios votará primero: aplicar una multa o
          absolverlo y en una segunda votación si se mantiene la multa aplicada
          o fijar una multa menor. En ambos casos la decisión será válida con el
          mas del 50% del voto (mayoría simple sin necesidad de quorum) de los
          propietarios presentes y la Administración que contará con un voto.
        </li>
        <li>
          Penalidades. Las penalidades variarán entre U$S 50 a U$S 500, siendo
          la Comisión de Disciplina la que definirá el valor de la infracción en
          función de su gravedad.
        </li>
        <li>
          Aplicación. La multa o apercibimiento será incluida en la liquidación
          de expensas inmediatamente posterior al debido proceso, tomando para
          su conversión el valor del dólar USA tipo vendedor del BNA en la fecha
          de envío del correo electrónico del Administrador del Edificio
          informando la multa aplicada. La multa será considerada como parte
          constitutiva de los cargos por expensas comunes, por lo cual devengará
          intereses por el no pago de la misma.
        </li>
      </ol>
    </li>
  </ol>
</main>
