<p-toast></p-toast>
<form [formGroup]="form">

  <div class="field">
    <p-cascadeSelect
      [ngClass]="{'ng-invalid ng-dirty': flat?.touched && flat?.hasError('required')}"
      formControlName="flat"
      aria-describedby="flat-help"
      [options]="flats"
      optionGroupLabel="floor"
      [optionGroupChildren]="['dptos']"
      [style]="{ width: '100px' }"
      placeholder="Dpto"
    ></p-cascadeSelect>
    <small *ngIf="flat?.touched && flat?.hasError('required')" id="flat-help" class="p-error block">
      Debe seleccionar un departamento
    </small>
  </div>

  <div class="field">
    <input
      type="password"
      aria-describedby="password-help"
      [ngClass]="{'ng-invalid ng-dirty': oldPassword?.touched && oldPassword?.hasError('required')}"
      pInputText
      placeholder="Contraseña"
      formControlName="oldPassword"
    />
    <small *ngIf="oldPassword?.touched && oldPassword?.hasError('required')" id="password-help" class="p-error block">
      Debe ingresar su contraseña anterior
    </small>
  </div>
  <div class="field">
    <input
      type="password"
      aria-describedby="password-help"
      [ngClass]="{'ng-invalid ng-dirty': password1?.touched && password1?.hasError('required')}"
      pInputText
      placeholder="Contraseña"
      formControlName="password1"
    />
    <small *ngIf="password1?.touched && password1?.hasError('required')" id="password-help" class="p-error block">
      Nueva contraseña es requerida
    </small>
  </div>
  <div class="field">
    <input
      type="password"
      aria-describedby="password-help"
      [ngClass]="{'ng-invalid ng-dirty': password2?.touched && password2?.hasError('required')}"
      pInputText
      placeholder="Contraseña"
      formControlName="password2"
    />
    <small *ngIf="password2?.touched && password2?.hasError('required')" id="password-help" class="p-error block">
      Debe confirmar la contraseña
    </small>
  </div>


  <div class="form-buttons">
    <p-button
      (click)="confirm()"
      label="Confirmar"
      icon="pi pi-check"
    ></p-button>
  </div>

  <small class="info">
    Por problemas en cambios de contraseñas escribir a <a href="mailto:lorenzo0895@gmail.com">lorenzo0895@gmail.com</a>
  </small>

</form>