main {
  padding: 20px;
  .info {
    margin-top: 30px;
    & > * {
      display: block;
      & span {
        margin-right: 5px;
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }
      & .day {
        background-color: #21c75d;
      }
      & .night {
        background-color: #212faa;
      }
    }
  }
}
:host ::ng-deep .fc .fc-toolbar-title {
  text-transform: capitalize;
}

:host ::ng-deep .fc.fc-theme-standard .fc-view-harness th {
  position: relative;
  z-index: 0;
}
@media screen and (min-width: 700px) {
  main {
    padding: 20px 20%;
  }
}